.header {
    background-color: #247BA0;
    color: #FFFCFF;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    font-size: 2rem;
}

.container {
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 4rem;
    font-weight: bold;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.nav a {
    color: #FFFCFF;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}